    #avatar-box > .section_box_body > p > span > b {
        visibility: hidden;
        font-size: 0px;
    }
    #avatar-box > .section_box_body > p > span > b::after {
        content: 'Pronounces (w*ke)';
        visibility: visible;
        font-size: 16px;
    }
